body {
    margin: 0px;
    padding: 0px;
}

#header {
    background: #f00;
    width: 100%;
    height: 100px;
}

#rightcol {
    background: rgb(229, 255, 0);
    float: right;
    width: 20%;
    height: 500px;
}

#content {
    background: #fff;
    float: left;
    width: 59%;
    height: 500px;
}

#footer {
    background: rgb(0, 8, 255);
    clear: both;
    width: 100%;
    height: 100px;
}